Config { font = "xft:Roboto:size=8:bold"
       , additionalFonts =
          [ "xft:FontAwesome 5 Free Solid:pixelsize=10"
          , "xft:FontAwesome 5 Brands:pixelsize=10"
          ]
       , border = NoBorder
       , bgColor = "#2B2E37"
       , fgColor = "#929AAD"
       , alpha = 255
       , position = TopSize L 100 20
       , lowerOnStart = True
       , allDesktops  = True
       , persistent   = False
       , hideOnStart = False
       , iconRoot = ".config/xmonad/xmobar/icons/"
       , commands =
         [ Run UnsafeXPropertyLog "_XMONAD_LOG_0"
	 , Run Com "echo" ["<fn=2>\xf17c</fn>"] "penguin" 3600
	 , Run Com "uname" ["-s","-r"] "" 36000
         , Run Network "eno1" ["-L","0","-H","32","--normal","green","--high","#AAC0F0"] 10
	 , Run Weather "SBFL" ["-t","<fn=1>\xf6c4</fn>  <tempC>°C","-L","15","-H","30","--normal","#AAC0F0","--high","#C1514E","--low","#AAC0F0"] 36000
         , Run Date "%a, %d %b   <fn=1></fn>   %H:%M:%S" "date" 10
         , Run Memory ["-t","Mem: <fc=#AAC0F0><usedratio></fc>%"] 10
	 , Run Swap [] 10
         , Run Com "/home/desktop/.config/xmonad/xmobar/cpu_temp.sh" [] "cput" 10
	 , Run Cpu ["-t", "CPU: <total>% @","-H","50","--normal","#AAC0F0","--low","#AAC0F0","--high","#C1514E"] 10
         , Run Com "/home/desktop/.config/xmonad/xmobar/trayer-padding.sh" [] "trayerpad" 100
         ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<action=`xdotool key super+Right` button=5><action=`xdotool key super+Left` button=4><action=xdotool key super+d>      <icon=menu.xpm/>      </action></action></action>%_XMONAD_LOG_0% } <action=xdotool key super+r>%date%</action> {   %eno1%   |   %cpu% %cput%   |   %memory% - %swap%   |   %penguin% %uname%   |   %SBFL% %trayerpad% "
       }
