Config { font = "xft:Roboto:size=8:bold"
       , additionalFonts =
          [ "xft:FontAwesome 5 Free Solid:pixelsize=10"
          , "xft:FontAwesome:pixelsize=6:bold"
          ]
       , border = NoBorder
       , bgColor = "#2B2E37"
       , fgColor = "#929AAD"
       , alpha = 255
       , position = TopSize L 100 20
       , lowerOnStart = True
       , allDesktops  = True
       , persistent   = False
       , hideOnStart = False
       , iconRoot = ".config/xmonad/xmobar/icons/"
       , commands =
         [ Run UnsafeXPropertyLog "_XMONAD_LOG_0"
         , Run Date "%a, %d %b   <fn=1></fn>   %H:%M:%S" "date" 10
         , Run Memory ["-t","Mem: <fc=#AAC0F0><usedratio></fc>%"] 10
         , Run Com "/home/desktop/.config/xmonad/xmobar/cpu_temp.sh" [] "cpu" 10
         , Run Com "/home/desktop/.config/xmonad/xmobar/trayer-padding.sh" [] "trayerpad" 100
         ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<action=`xdotool key super+Right` button=5><action=`xdotool key super+Left` button=4><action=xdotool key super+d>      <icon=menu.xpm/>      </action></action></action>%_XMONAD_LOG_0% } <action=xdotool key super+r>%date%</action> {     %cpu%     |     %memory%   %trayerpad% "
       }
